build/
SDDMMlib/build/
SDDMMlib/tests/MatrixLib/cmake
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
.DS_Store
benchmark_pipeline/data/datasets/*
benchmark_pipeline/data/matrices/*
profiling/results/


# But not these files...
!benchmark_pipeline/data/datasets/Dataset001_test/
!benchmark_pipeline/data/runs
!benchmark_pipeline/data/matrices/.gitkeep