build/
SDDMMlib/build/
SDDMMlib/tests/MatrixLib/cmake
.vscode/c_cpp_properties.json
.vscode/tasks.json
.DS_Store
benchmark_pipeline/data/datasets/*
benchmark_pipeline/data/matrices/*
profiling/results/*
pipeline_runscripts/results/*


# But not these files...
!benchmark_pipeline/data/datasets/Dataset001_test/
!benchmark_pipeline/data/runs
!benchmark_pipeline/data/matrices/.gitkeep
!pipeline_runscripts/results/README.md
!profiling/results/README.md